.container {
    height: 100%;
}

.drawer {
    width: 240px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.title-spacer {
    margin-left: 8px;
    margin-right: 8px;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}