.container {
    padding: 24px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
}

.card {
    cursor: pointer;
    padding-bottom: 10px;
}

img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}
